body {
    background-color: #777777;
}

.contener1 {
    width: 1440px;
    background-color: #FFFFFF;
    margin: auto;
    border: 1px solid #FFFFFF;
}

.embras {
    font-family: Helvetica;
    font-size: 28px;
    font-weight: 700;
    color: #000000;
    padding-top: 28px;
}

.button-header {
    font-family: General Sans Variable;
    font-size: 16px;
    font-weight: 500px;
    color: #FFFFFF;
    height: 52px;
    width: 123px;
    border-radius: 70px;
    padding: 10px 24px 10px 24px;
    background-color: #3461FF;
    margin-top: 18px;
    margin-right: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-around;
    padding-bottom: 114px;
}

.menu {
    display: flex;
    padding-left: 55px;
}

.menu-img {
    padding-top: 33px;
}

.menu-items {
    display: flex;
    gap: 37px;
    padding-top: 33px;
    padding-right: 350px;
    font-family: General Sans Variable;
    font-size: 16px;
    color: #000000;
}

.TakeCareof-title {
    height: 360px;
    width: 498px;
    font-family: General Sans Variable;
    font-size: 86px;
    font-weight: 600;
    line-height: 120px;
    color: #000000;
    padding-left: 100px;
}

.TakeCareof-subtitle {
    font-family: General Sans Variable;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #00000099;
    padding-left: 100px;
    padding-bottom: 42px;
}

.enter {
    font-family: General Sans Variable;
    font-size: 16px;
    font-weight: 500;
    color: #AAAAAA;
    background-color: #FFFFFF;
    border-radius: 40px;
    width: 280px;
    height: 50px;
    margin-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.TakeCareof-button {
    height: 62px;
    width: 126px;
    border-radius: 70px;
    padding: 5px 8px 5px 8px;
    background: #3461FF;
    font-family: General Sans Variable;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.buttons {
    display: flex;
    gap: 16px;
}

.flex {
    display: flex;
}

.TakeCareof-imgs {
    padding-left: 130px;
    padding-bottom: 63px;
}

.TakeCareof {
    padding-top: 40px;
}

.relative {
    position: relative;
}

.koment1 {
    position: absolute;
    bottom: 200px;
    right: 180px;
}

.khande {
    position: absolute;
    bottom: 220px;
    right: 220px;
}

.hand {
    position: absolute;
    bottom: 220px;
    left: 200px;
    z-index: 2;
}

.koment2 {
    position: absolute;
    left: 160px;
    bottom: 200px;
    z-index: 1;
}

.bakcgrand1 {
    z-index: 0;
}

.doghtar {
    position: absolute;
    top: 51px;
    left: 42px;
}

.bakcgrand2 {
    position: absolute;
    top: 46px;
    left: 42px;
}

.pencel {
    position: absolute;
    top: 48px;
    left: 80px;
}

.logo1 {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 104px;
}

.logo2 {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 64px;
}

.contener3 {
    margin: auto;
    border: 1px solid #FAFAFA;
    width: 1440px;
    height: 552px;
    background-color: #FAFAFA;
}

.Companies-title {
    padding-top: 78px;
    padding-left: 100px;
    padding-bottom: 93px;
    height: 108px;
    width: 280px;
    font-family: General Sans Variable;
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
    color: #000000;
}

.Companies-subtitle {
    padding-top: 90px;
    padding-right: 611px;
    font-family: General Sans Variable;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    height: 84px;
    width: 413px;
    color: #252525;
}

.job {
    display: flex;
    padding-bottom: 185px;
    padding-right: 292px;
    padding-left: 100px;
}

.job1 {
    padding-right: 125px;

}

.job2 {
    padding-top: 80px;
}

.work-subtitle {
    font-family: General Sans Variable;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #00000099;
    height: 72px;
    width: 292px;
    padding-top: 16px;
    padding-left: 100px;
}

.job-subtitle {
    font-family: General Sans Variable;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #00000099;
    height: 72px;
    width: 292px;
    padding-top: 16px;
}

.Commitments1 {
    position: relative;
    display: flex;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 60px;
    gap: 136px;
    justify-content: space-between;
}

.Commitments2 {
    position: relative;
    display: flex;
    padding-right: 908;
    padding-left: 100px;
    padding-bottom: 200px;
}

.Commitments1-title1 {
    font-family: General Sans Variable;
    font-size: 64px;
    font-weight: 600;
    color: #000000;
}

.Commitments1-title2 {
    font-family: General Sans Variable;
    font-size: 64px;
    font-weight: 600;
    color: #000000;
}

.Commitments2-title4 {
    position: absolute;
    bottom: 260px;
    padding-right: 200px;
    font-family: General Sans Variable;
    font-size: 64px;
    font-weight: 600;
    color: #000000;
}

.Commitments2-title5 {
    position: absolute;
    bottom: 260px;
    left: 400px;
    font-family: General Sans Variable;
    font-size: 64px;
    font-weight: 600;
    color: #000000;
    padding-right: 220px;
}

.Commitments1-subtitle {
    font-family: General Sans Variable;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #00000099;
}

.Commitments1-title3 {
    padding-bottom: 10px;
    padding-top: 65px;
    font-family: General Sans Variable;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    padding-left: 100px;
}

.Commitments-subtitle1 {
    font-family: General Sans Variable;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #00000099;
    padding-left: 100px;
}

.Commitments1-subtitle2 {
    font-family: General Sans Variable;
    font-size: 18px;
    font-weight: 400;
    color: #00000099;
}

.Commitments1-subtitle1 {
    font-family: General Sans Variable;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #00000099;
    padding-top: 30px;
}

.Commitments-button {
    padding-top: 55px;
    color: #3461FF;
    font-family: General Sans Variable;
    font-size: 18px;
    font-weight: 600;
    padding-left: 250px;
}

.Commitments-subtitle {
    font-family: General Sans Variable;
    font-size: 18px;
    font-weight: 400;
    color: #00000099;
    padding-left: 160px;
    padding-top: 30px;
}

.Commitments-subtitles {
    font-family: General Sans Variable;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #00000099;
    padding-left: 160px;
}

.flash-blue {
    padding-top: 58px;
    padding-left: 8px;
}

.kar-title {
    font-family: General Sans Variable;
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
    color: #000000;
    padding-top: 10px;
    padding-left: 100px;
    padding-bottom: 12px;
}

.kar-subtitle {
    font-family: General Sans Variable;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #00000099;
    height: 96px;
    width: 499px;
    padding-left: 100px;
    padding-right: 134px;
}

.job-img {
    height: 102px;
    width: 102px;
    border-radius: 35px;
    padding: 16px;
    background: #3461FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job {
    position: relative;

}

.job2 {
    padding-left: 500px;
}

.job3 {
    padding-top: 80px;
}

.job-position {
    position: absolute;
    bottom: 180px;
}

.ourwork {
    font-family: General Sans Variable;
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
    display: flex;
    justify-content: center;
    color: #000000;
    padding-bottom: 10px;
}

.ourwork-text1 {
    font-family: General Sans Variable;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    color: #00000099;
    padding-left: 342px;
    padding-right: 342px;
}

.ourwork-text2 {
    font-family: General Sans Variable;
    font-size: 18px;
    display: flex;
    justify-content: center;
    color: #00000099;
    padding-left: 342px;
    padding-right: 342px;
    padding-bottom: 60px;
}

.job-title {
    font-family: General Sans Variable;
    font-size: 28px;
    font-weight: 500;
    line-height: 38px;
    color: #000000;
    padding-top: 24px;
}

.work-button {
    height: 64px;
    width: 203px;
    border-radius: 64px;
    padding: 5px 15px 5px 15px;
    background-color: #3461FF;
    font-family: General Sans Variable;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin-left: 600px;
    margin-bottom: 99px;
}

.work-title1 {
    font-family: General Sans Variable;
    font-size: 28px;
    font-weight: 500;
    line-height: 38px;
    color: #000000;
    padding-left: 160px;
    padding-top: 7px;
}

.work-title2 {
    font-family: General Sans Variable;
    font-size: 28px;
    font-weight: 500;
    line-height: 38px;
    color: #000000;
    padding-top: 7px;
    padding-left: 140px;
}

.work-title3 {
    font-family: General Sans Variable;
    font-size: 28px;
    font-weight: 500;
    line-height: 38px;
    color: #000000;
    padding-top: 7px;
    padding-left: 160px;
}

.work {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    gap: 20px;
}

.contener2 {
    height: 275px;
    width: 1440px;
    background-color: #3461FF;
    background-image: url(doyere.png);
    background-repeat: no-repeat;
    margin: auto;
    border: 1px solid #3461FF;
    display: flex;
}

.journey {
    height: 112px;
    width: 415px;
    font-family: General Sans Variable;
    font-size: 40px;
    font-weight: 500;
    line-height: 56px;
    color: #FFFFFF;
    padding-right: 209px;
    padding-left: 104px;
    padding-top: 66px;
}

.journey-text {
    font-family: General Sans Variable;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    height: 128px;
    width: 610px;
    color: #FFFFFF;
    padding-top: 66px;
    padding-left: 209px;
    padding-bottom: 26px;
}

.journey-button {
    font-family: Space Grotesk;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 209px;
    padding-right: 5px;
}

.flash-waghte {
    padding-top: 5px;
}

.team-img {
    display: flex;
    padding-left: 99px;
    padding-right: 123px;
    gap: 20px;
    padding-top: 18px;
}

.team-title {
    color: #000000;
    font-family: General Sans Variable;
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
    padding-top: 30px;
    padding-bottom: 12px;
}

.team-subtitle {

    font-family: General Sans Variable;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    color: #00000099;
    padding-bottom: 16px;
}

.team-text {
    font-family: General Sans Variable;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    height: 96px;
    width: 507px;
    color: #00000099;
}

.team-button {
    height: 64px;
    width: 222px;
    border-radius: 69px;
    padding: 5px 20px 5px 20px;
    background-color: #3461FF;
    font-family: General Sans Variable;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}
.team {
    display: flex;
    padding-top: 109px;
    padding-right: 120px;
    padding-bottom: 198px;
}

.Client1-title {
    height: 54px;
    width: 609px;
    font-family: General Sans Variable;
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
    color: #000000;
}

.Client1-subtitle {
    font-family: General Sans Variable;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    height: 32px;
    width: 507px;
    color: #000000;
}

.felash1 {
    height: 85px;
    width: 85px;
    border-radius: 50px;
    background-color: #F8F9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 450px;
}

.felash2 {
    height: 85px;
    width: 85px;
    border-radius: 50px;
    background-color: #3461FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Client1 {
    display: flex;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.Client2-bakcgrand1 {
    height: 296px;
    width: 405px;
    border-radius: 30px;
    padding: 22px 73px 22px 32px;
    background-color: #3461FF;
}

.Client2-bakcgrand2 {
    height: 296px;
    width: 405px;
    border-radius: 30px;
    padding: 22px 73px 22px 32px;
    background-color: #F8F9FF;
}

.Client2-bakcgrand3 {
    height: 296px;
    width: 405px;
    border-radius: 30px;
    padding: 22px 73px 22px 32px;
    background-color: #F8F9FF;
    overflow: hidden;
}

.Client2-title1 {
    height: 38px;
    width: 320px;
    font-family: General Sans Variable;
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    color: #FFFFFF;
}

.Client2-subtitle1 {
    height: 27px;
    width: 137px;
    font-family: General Sans Variable;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    color: #FFFFFF;
}

.Client2-text1 {
    font-family: General Sans Variable;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    height: 128px;
    width: 400px;
    color: #FFFFFF;
    padding-top: 29px;
    padding-bottom: 32px;
}

.Client2-text2 {
    height: 128px;
    width: 400px;
    font-family: General Sans Variable;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #000000;
    padding-top: 29px;
    padding-bottom: 32px;
}

.Client2-title2 {
    height: 38px;
    width: 196px;
    font-family: General Sans Variable;
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    color: #000000;
}

.Client2-subtitle2 {
    height: 27px;
    width: 137px;
    font-family: General Sans Variable;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    color: #000000;
}

.Client2 {
    display: flex;
    padding-left: 47px;
    gap: 20px;
    padding-bottom: 78px;
}

.elektrik {
    height: 455px;
    width: 1240px;
    border-radius: 56px;
    background-color: #232038;
    margin: 86px 100px 60px 100px;
    display: flex;
}

.elektrik-title {
    height: 126px;
    width: 469px;
    font-family: General Sans Variable;
    font-size: 48px;
    font-weight: 500;
    line-height: 63px;
    color: #FFFFFF;
    padding-top: 65px;
    padding-left: 101px;
    padding-bottom: 100px;
    padding-right: 213px;
}

.elektrik-imgs {
    position: relative;
    padding-top: 52px;
    padding-right: 105px;
}

.elektrik-imgs-img {
    position: absolute;
    top: 177px;
    left: 68px;
}

.elektrik-button {
    height: 64px;
    width: 210px;
    border-radius: 69px;
    padding: 16px 48px 16px 48px;
    background-color: #3461FF;
    font-family: General Sans Variable;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 105px;
    margin-bottom: 70px;
}

.line-title {
    font-family: General Sans Variable;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    text-align: left;
    height: 52px;
    width: 487px;
    color: #000000;
    padding-top: 9px;
    padding-bottom: 16px;
}

.line-subtitle {
    font-family: General Sans Variable;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    height: 72px;
    width: 431px;
    color: #00000099;
    padding-bottom: 42px;
}

.email {
    font-family: General Sans Variable;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #AAAAAA;
    height: 20px;
    width: 210px;
    border-radius: 37px;
    padding: 20px 18px 20px 18px;
    background-color: #FAFAFA;
    margin-right: 10px;
    margin-bottom: 65px;
}

.line-button {
    height: 62px;
    width: 144px;
    border-radius: 70px;
    padding: 20px 40px 20px 40px;
    background-color: #3461FF;
    height: 20px;
    width: 66px;
    color: #FFFFFF;
}

.FAQ {
    font-family: General Sans Variable;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #3461FF;
}

.Embrace-title {
    height: 42px;
    width: 140px;
    font-family: Helvetica;
    font-size: 37px;
    font-weight: 700;
    color: #000000;
    padding-bottom: 19px;
}

.Embrace-text {
    display: flex;
    padding-right: 193px;
    padding-left: 300px;
    padding-bottom: 82px;
    gap: 81px;
    line-height: 68px;
    padding-top: 66px;
}

.Embrace-aikon {
    display: flex;
    gap: 16px;
    padding-left: 103px;
    padding-bottom: 43px;
}

.Embrace-subtitle {
    font-family: General Sans Variable;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    padding-left: 102px;
    padding-bottom: 36px;
}

.buttom {
    height: 119px;
    width: 1440px;
    background-color: #000000CC;
    display: flex;
}

.line {
    display: flex;
    padding-bottom: 84px;
    gap: 120px;
}

.line-img {
    padding-left: 93px;
}

.line-text1 {
    font-family: General Sans Variable;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    padding-left: 104px;
    padding-right: 297px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.line-aikon1 {
    padding-top: 38px;
    padding-left: 30px;
}

.line-aikon2 {
    padding-top: 38px;
    padding-left: 280px;
}

.line-aikon3 {
    padding-top: 38px;
    padding-left: 255px;
}

.line-text2 {
    padding-left: 104px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.felash-blue2 {
    padding-bottom: 90px;
    padding-top: 5px;
    padding-left: 5px;
}

.buttom-item1 {
    padding: 50px 100px 49px 100px;
    font-family: General Sans Variable;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    height: 20px;
    width: 272px;
    color: #FFFFFF;
}

.buttom-item2 {
    padding-left: 571px;
    padding-top: 50px;
    height: 20px;
    width: 84px;
    font-family: General Sans Variable;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #FFFFFF;
}

.buttom-item3 {
    padding-left: 125px;
    padding-right: 100px;
    padding-top: 50px;
    height: 20px;
    width: 84px;
    font-family: General Sans Variable;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.Embrace-botton {
    height: 64px;
    width: 295px;
    border-radius: 69px;
    padding: 1px 10px 1px 10px;
    background-color: #3461FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: General Sans Variable;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #FFFFFF;
    margin-left: 101px;
}

.Embrace {
    display: flex;
    padding-left: 100px;
    padding-top: 62px;
}

.contener4 {
    height: 392px;
    width: 1440px;
    background-color: #FAFAFA;
    margin: auto;
    border: 1px solid #FAFAFA;
}